<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet"/>

</head>
<body>
    <section class="sale-panner d-flex align-items-center justify-content-center position-relative mt-5">
        <div class="sale-panner-text text-center d-flex flex-column align-items-center justify-content-center gap-4">
            <h1 class="fw-light text-light">Big Summer <b>Sale</b></h1>
            <p class="text-secondary">Commodo fames vitae vitae leo mauris in. Eu consequat.</p>
            <a class="btn btn-outline-light px-5 py-2" href="/Products.html" id="productsLink">Shop Now</a>
        </div>
    </section>

    <script>
        const productsLink = document.querySelector('#productsLink');
        productsLink.addEventListener('click',(e)=>{
            localStorage.removeItem('selected-category');
        });
    </script>
</body>
</html>