<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Card</title>
    <link rel="stylesheet" href="../assests/css/productCard.css">
</head>
<body>
  <div class="product-card">
    <span class="favorite">♡</span>
    <img src="../assests/images/product.png" alt="AirPods Max Silver">
    <div class="product-title">AirPods Max Silver</div>
    <div class="price">$549</div>
    <button class="buy-btn">Buy Now</button>
  </div>
</body>
</html>
