* {
  /* outline: 1px solid red; */
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: "SF Pro Display";
}

.main-container {
  min-width: 360px;
  /* padding: 0 10px; */
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container > * {
  min-width: 340px;
}
section.s1 {
  gap: 20px;
  margin-top: 100px;
}
section.s1 > * {
  width: 100%;
}
.left-sec {
  gap: 30px;
  /* width: 330px; */
  /* couldnt add gap in bootstrap, as it is 4 not 5  */
}
.left-sec,
.right-sec {
  max-width: 540px;
}
.left-sec .sub-cont-onephone {
  /* width: 330px; */
  height: 330px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.left-sec .sub-cont-morephones {
  /* justify-content: space-between; */
  gap: 10px;
  .cover {
    /* width: 100px; */
    height: 65px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

/* .right-sec .price  */
.price {
  font-family: "SF Pro Display";
  font-size: 2rem;
  font-weight: 500;
  /* span::last-child {
  } */
  del {
    font-size: 1.5rem;
    font-weight: 400;
    color: gray;
    /* color: red; */

    margin-left: 10px;
  }
}

.typeOfProduct {
  gap: 5px;
  width: 100%;
  margin: 0;
  flex-wrap: wrap;
}

div.typeOfProduct-item {
  height: 50px;
  width: 23%;
  /* flex-basis: 80px; */
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  border: 1px solid gray;
  color: gray;
  transition: all 0.3s ease-in;
  label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    margin: 0;
    width: 100%;
    height: 100%;
  }
  input {
    appearance: none;
  }
  &:hover {
    border-color: black;
    color: black;
  }
}
/* .specsOfProduct {
  margin: 20px auto;
  max-width: 535px;
  gap: 10px;
  .row {
    justify-content: space-between;
  }

  i {
    font-size: 30px;
  }
  .spec-item {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid gray;
    cursor: pointer;
    max-width: 165px;
    margin-bottom: 10px;
  }
  .spec-text {
    width: 100%;
    
    margin-left: 10px;

    p {
      margin: 0;
      font-size: 14px;
      font-weight: 500;
    }
    p:first-child {
      color: gray;
    }
  }
} */
.btnsWish_Cart {
  margin: 40px 0;
  gap: 20px;
  /* .btn {
    height: 55px;
    border-radius: 8px;
    border: 1px solid black;
    min-width: 165px;
  } */
  .wishBtn {
    background-color: #fff;
    color: #000;
    border: 1px solid black;
    transition: background-color 0.3s ease-in;
  }
  .wishBtn:hover {
    background-color: rgb(240, 240, 240);

    border: 1px solid black;
  }
  .cartBtn {
    background-color: #000;
    color: #fff;
    transition: all 0.3s ease-in;
  }
  .cartBtn:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
  }
  /* height: 130px; */
}
.btnView {
  height: 40px;
  border-radius: 8px;
  border: 1px solid black;
  background-color: #fff;
  color: black;
  min-width: 165px;
  transition: all 0.3s ease-in;
}
.btnView:hover {
  border: 1px solid black;
  background-color: #dadada;
  color: black;
}

.featuresOfProduct {
  margin-top: 10px;
  width: 100%;
  margin: 0 auto;
  /* background-color: aqua; */
}
.featuresOfProduct > div {
  padding: 0;

  .feature-item {
    /* width: 95px; */
    /* padding-inline: 5px; */
    gap: 10px;
    width: 160px;
    i {
      font-size: 30px;
      padding: 14px 10px 4px 10px;
      height: 55px;
      width: 55px;
      border-radius: 10px;
      background-color: lightgrey;
      text-align: center;
      /* margin-bottom: 20px; */
    }
    p {
      margin-bottom: 5px;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      width: 100%;
    }
    p:first-of-type {
      color: gray;
    }
  }
}
.s2 {
  margin: 100px 0;
  p {
    margin-bottom: 25px;
  }
  p:not(:first-of-type) {
    border-bottom: 1px solid #ccc;
  }
  button {
    display: block;
    margin: 0 auto;
  }
}
.extra-text {
  display: inline-block;
  height: 90px;
  transition: all 0.3s ease-in;
  overflow: hidden;
}
.moreBtn {
  display: inline-block;
  cursor: pointer;
}
.hidden {
  height: 0px;
}
/* Add margin to separate items on wrapped lines */
/* .storage-item:not(:last-child) {
  margin-right: 10px;
}
.storage-item:nth-child(n + 3) {
  margin-top: 10px;
} */
